.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 200px;
    float: left;
    border: 1px solid #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}




/*preview_carousel
------------------------------------*/

.prod_preview
{
	padding: 0 42px;
	margin: 0 auto 30px;
    position: relative;
}

.preview_carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.preview_carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.preview_carousel li {
    width: 142px;
    float: left;
	margin: 0 10px 0 0;
	padding: 0 0 10px;
}
	.preview_carousel li a, .preview_carousel li a:hover
	{
		
		display: block;
	}
		.preview_carousel li a:hover
		{
			
		}

.preview_carousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
    box-shadow: rgba(0,0,0,0.2) 0 5px 5px;
}

/** Carousel Controls **/

.prod_preview .jcarousel-control-prev, .prod_preview .jcarousel-control-next {
    position: absolute;
    top: 0;
    width: 30px;
    height: 100%;
}

.prod_preview .jcarousel-control-prev {
    left: 0;
    background: url(jcarousel/prev.png) no-repeat 50% 50%;
}

.prod_preview .jcarousel-control-next {
    right: 0;
    background: url(jcarousel/next.png) no-repeat 50% 50%;
}

@media (max-width: 480px) {
    .prod_preview {
        max-width: 250px
    }
}
