.map_bottom .mb_menu li.separator:last-child, .catalog_item .mb_menu li.separator:last-child, .mb_menu li.separator:last-child{
	display:none;
}

 .mtop_icon.icon7
    {
        background: url(../images/mtf_icon7.png) no-repeat 5px 50%;
    }
	
	 .mtop_icon.icon5
    {
        background: url(../images/mtf_icon5.png) no-repeat 5px 50%;
    }
	
	 .mtop_icon.icon6
    {
        background: url(../images/mtf_icon6.png) no-repeat 5px 50%;
    }
	
	 .mtop_icon.icon4
    {
        background: url(../images/mtf_icon4.png) no-repeat 5px 50%;
    }