.label .empty_pic
    {
        padding: 0 0 0 20px;
        min-width: 20px;
        min-height: 40px;
        line-height: 40px;
        margin: 0 10px;
        float: left;
        color: #e21717;
        font-weight: bold;
    }
	
	.forms .label.reg_pass .empty_pic
    {
        margin-top: 26px ;
    }